*.aux
**/.aux

*.fdb_latexmk
**/.fdb_latexmk


*.fls
**/.fls

*.log
**/.log

*.synctex.gz
**/.synctex.gz

*.DS_Store
**/.DS_Store

*__pycache__
**/__pycache__

*.ipynb_checkpoints
**/.ipynb_checkpoints
